extends layout

block content
  .container
    .nav.nav-pills.nav-fill 
      li.nav-item 
        a(href="workouts").nav-link.active Workouts
      li.nav-item
      li.nav-item
      li.nav-item 
        a(href="login").nav-link Login         
      li.nav-item 
        a(href="/").nav-link Register
  


  each workout in workouts
   .card.workoutCard
    .card-body 
      .row
        .col-lg-8
          h5.card-title= workout.title
        .col-lg-4.muscleList
          each tag in workout.tags
            .badge.badge-secondary= tag
      .row
       each exercise in workout.exercises
        .col-lg-4
          .card.exerciseCard
            .row
              .col-lg-12
                p.exerciseComponent=exercise.name
            .row            
              p.exerciseComponent=exercise.sets
                span.fieldLabel | Sets           
              i.fas.fa-times           
              p.exerciseComponent=exercise.reps
                span.fieldLabel | Reps
              p.exerciseComponent=exercise.rest
                span.fieldLabel | KG
              p.exerciseComponent=exercise.resistance
                span.fieldLabel | Seconds

        